<nz-page-header (nzBack)="back()" nzBackIcon nzTitle="编辑学期">
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item><a routerLink="/admin/semester">学期管理</a></nz-breadcrumb-item>
    <nz-breadcrumb-item>编辑</nz-breadcrumb-item>
  </nz-breadcrumb>
</nz-page-header>

<form nz-form [formGroup]="editForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>学期名</nz-form-label>
    <nz-form-control [nzSpan]="6" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="nameErrorTpl">
      <input nz-input formControlName="name" placeholder="请输入学期名" />
      <ng-container *ngIf="editForm.get('name').hasError('exist') && editForm.get('name').dirty">
        学期名已存在
      </ng-container>
      <ng-template #nameErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          学期名必须输入
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>开始与结束时间</nz-form-label>
    <nz-form-control [nzSpan]="6" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="timeErrorTpl">
      <nz-range-picker [nzFormat]="dateFormat" formControlName="timeRange"></nz-range-picker>
      <ng-template #timeErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          开始与结束时间必须输入
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7">开设课程</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <nz-select
        nzMode="multiple"
        nzPlaceHolder="请选择课程"
        [formControlName]="'courseIds'">
        <nz-option *ngFor="let courseOption of courseOptions" [nzLabel]="courseOption.label" [nzValue]="courseOption.value"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzOffset]="7" [nzSpan]="12">
      <button nz-button type="submit" nzType="primary" [disabled]="!editForm.valid">提交</button>
      <button nz-button type="reset" (click)="resetForm($event)">清空</button>
    </nz-form-control>
  </nz-form-item>
</form>
