<div nz-row>
  <div nz-col [nzSpan]="16" [nzOffset]="6">
    <nz-descriptions nzTitle="定制教学计划">
      <nz-descriptions-item nzTitle="当前学期">{{currentSemester?.name}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="定制教师">{{loginTeacher?.user.userName}}</nz-descriptions-item>
    </nz-descriptions>
  </div>
</div>
<nz-divider></nz-divider>
<form nz-form [formGroup]="addForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>上课学期</nz-form-label>
    <nz-form-control [nzSpan]="6" nzValidatingTip="Validating...">
      <nz-select
        nzShowSearch
        #SelectSemesterId
        nzPlaceHolder="请选择学期"
        (ngModelChange)="semesterChange(SelectSemesterId.value)"
        formControlName="semester">
        <nz-option *ngFor="let semesterOption of semesterOptions" [nzLabel]="semesterOption.name"
                   [nzValue]="semesterOption.id"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>教授课程</nz-form-label>
    <nz-form-control [nzSpan]="6" nzValidatingTip="Validating...">
      <nz-select
        nzShowSearch
        #SelectCourse
        nzPlaceHolder="请选择课程"
        (ngModelChange)="courseChange(SelectCourse.value)"
        formControlName="course">
        <nz-option *ngFor="let courseOption of courseOptions" [nzLabel]="courseOption.name"
                   [nzValue]="courseOption"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7">教授专业</nz-form-label>
    <nz-form-control [nzSpan]="6">
      <nz-select
        nzPlaceHolder="请选择教授专业"
        formControlName="major">
        <nz-option *ngFor="let majorOption of majorOptions" [nzLabel]="majorOption.name"
                   [nzValue]="majorOption"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzOffset]="7" [nzSpan]="12">
      <button nz-button type="submit" nzType="primary" [disabled]="!addForm.valid">提交</button>
      <button nz-button type="reset" (click)="resetForm($event)">清空</button>
    </nz-form-control>
  </nz-form-item>
</form>
<nz-divider></nz-divider>
<nz-alert nzType="info" nzMessage="提示" nzDescription="提交教学计划后，可在【查看详情】修改课时内容"></nz-alert>
