<nz-page-header (nzBack)="back()" nzBackIcon nzTitle="编辑培养计划">
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item><a routerLink="/admin/educate-plan">培养计划管理</a></nz-breadcrumb-item>
    <nz-breadcrumb-item>编辑</nz-breadcrumb-item>
  </nz-breadcrumb>
</nz-page-header>

<form nz-form [formGroup]="editForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>学年</nz-form-label>
    <nz-form-control [nzSpan]="6" nzValidatingTip="Validating...">
      <nz-select
        nzShowSearch
        formControlName="termNumber">
        <nz-option nzLabel="第一学年" [nzValue]="1"></nz-option>
        <nz-option nzLabel="第二学年" [nzValue]="2"></nz-option>
        <nz-option nzLabel="第三学年" [nzValue]="3"></nz-option>
        <nz-option nzLabel="第四学年" [nzValue]="4"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>专业</nz-form-label>
    <nz-form-control [nzSpan]="6" nzValidatingTip="Validating...">
      <nz-select
        nzShowSearch
        #SelectMajorId
        nzPlaceHolder="请选择专业"
        formControlName="majorId"
        (ngModelChange)="majorChange(SelectMajorId.value)">
        <nz-option *ngFor="let majorOption of majorOptions" [nzLabel]="majorOption.name"
                   [nzValue]="majorOption.id"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7">课程</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <nz-select
        nzMode="multiple"
        nzPlaceHolder="请选择课程"
        [formControlName]="'courseIds'">
        <nz-option *ngFor="let courseOption of courseOptions" [nzLabel]="courseOption.name"
                   [nzValue]="courseOption.id"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzOffset]="7" [nzSpan]="12">
      <button nz-button type="submit" nzType="primary" [disabled]="!editForm.valid">提交</button>
      <button nz-button type="reset" (click)="resetForm($event)">清空</button>
    </nz-form-control>
  </nz-form-item>
</form>
