<!--分割线-->
<nz-page-header (nzBack)="back()" nzBackIcon nzTitle="教学计划详情">
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item><a routerLink="/teacher/teach-plan">教学计划</a></nz-breadcrumb-item>
    <nz-breadcrumb-item>详情</nz-breadcrumb-item>
  </nz-breadcrumb>
</nz-page-header>
<nz-descriptions>
  <nz-descriptions-item nzTitle="上课学期">{{teachPlan?.semester.name}}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="课程名">{{teachPlan?.course.name}}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="教授专业">{{teachPlan?.major.name}}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="课程类型">{{teachPlan?.course.type | courseType}}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="教学方式">{{teachPlan?.course.teachType | teachType}}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="考核方式">{{teachPlan?.course.examType | examType}}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="学分">{{teachPlan?.course.credit}}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="总课时">{{teachPlan?.course.totalLessonHour}}</nz-descriptions-item>
</nz-descriptions>
<div nz-row>
  <div nz-col [nzSpan]="24">
    <nz-table
      [nzBordered]="true"
      [nzVirtualScroll]="true"
      [nzData]="teachPlan?.lessonList"
      [nzFrontPagination]="false"
      [nzShowPagination]="false"
      [nzScroll]="{ x: '1300px', y: '500px' }"
    >
      <thead>
      <tr>
        <th width="10%">课时</th>
        <th width="20">重要性</th>
        <th width="70%">课时内容</th>
      </tr>
      </thead>
      <tbody>
      <ng-template nz-virtual-scroll let-lesson>
        <tr>
          <td width="10%">{{lesson.lessonHour}}</td>
          <td width="20%">
            <nz-slider
              [nzMin]="0"
              [nzMax]="0.9"
              [ngStyle]="{ marginLeft: '16px' }"
              [nzIncluded]="false"
              [nzStep]="0.3"
              [nzTooltipVisible]="'never'"
              [nzMarks]="weightTip"
              [(ngModel)]="lesson.weight"
              (nzOnAfterChange)="weightChange($event, lesson.id)"
            ></nz-slider>
          </td>
          <td width="70%" [nzBreakWord]="true">
            <p
              nz-paragraph
              nzCopyable
              nzEditable
              nzEllipsis
              [(nzContent)]="lesson.content"
              (nzContentChange)="contentChange($event, lesson.id)"
              [nzEllipsisRows]="3"></p>
          </td>
        </tr>
      </ng-template>
      </tbody>
    </nz-table>
  </div>
</div>
