<app-personal></app-personal>
<nz-divider></nz-divider>
<form nz-form [formGroup]="editForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>工号</nz-form-label>
    <nz-form-control [nzSpan]="6" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="nameErrorTpl">
      <nz-input-group>
        <input nz-input placeholder="工号" formControlName="staffNumber"/>
      </nz-input-group>
      <ng-template #nameErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          工号必须输入
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7">教授课程</nz-form-label>
    <nz-form-control [nzSpan]="6">
      <nz-select
        nzMode="multiple"
        nzPlaceHolder="请选择课程"
        [formControlName]="'courseIds'">
        <nz-option *ngFor="let course of courseList" [nzLabel]="course.name"
                   [nzValue]="course.id"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzOffset]="7" [nzSpan]="12">
      <button nz-button type="submit" nzType="primary" [disabled]="!editForm.valid">保存</button>
    </nz-form-control>
  </nz-form-item>
</form>
