<!--上方搜索框-->
<div nz-row>
  <div nz-col [nzSpan]="4">
    <input type="text" nz-input placeholder="用户名" [(ngModel)]="userName">
  </div>
  <div nz-col [nzSpan]="2">
    <button nz-button (click)="getUserPage()">
      <i nz-icon nzType="search" nzTheme="outline"></i>
      查询
    </button>
  </div>
</div>
<!--下方表格-->
<div nz-row>
  <div nz-col [nzSpan]="24">
    <nz-table
      #UserTable
      nzBordered
      nzTitle="用户信息表"
      [nzLoading]="loading"
      [nzData]="userPage.content"
      [nzTotal]="userPage.totalElements"
      [(nzPageSize)]="pageable.size"
      [(nzPageIndex)]="pageable.page"
      [nzFrontPagination]="false"
      (nzPageIndexChange)="getUserPage()"
    >
      <thead>
      <tr>
        <th width="50">用户名</th>
        <th width="50%">角色</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of UserTable.data">
        <td>{{user.userName}}</td>
        <td>{{user.role | userRole}}</td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>
