<!--上方搜索框-->
<div nz-row>
  <div nz-col [nzSpan]="4">
      <input type="text" nz-input placeholder="学期名" [(ngModel)]="semesterName">
  </div>
  <div nz-col [nzSpan]="2">
    <button nz-button (click)="getSemesterPage()">
      <i nz-icon nzType="search" nzTheme="outline"></i>
      查询
    </button>
  </div>
  <div nz-col [nzSpan]="2" [nzOffset]="16">
    <a nz-button nzType="primary" routerLink="/admin/semester/add">
      <i nz-icon nzType="plus" nzTheme="outline"></i>新增</a>
  </div>
</div>
<!--分割线-->
<nz-divider></nz-divider>
<!--下方表格-->
<div nz-row>
  <div nz-col [nzSpan]="24">
    <nz-table
      [nzData]="semesterPage.content"
      nzBordered
      nzTitle="学期信息表"
      [nzLoading]="loading"
      [nzFrontPagination]="false"
      [nzTotal]="semesterPage.totalElements"
      [(nzPageSize)]="pageable.size"
      [(nzPageIndex)]="pageable.page"
      (nzPageIndexChange)="getSemesterPage()">
      <thead>
      <tr>
        <th width="15">学期名称</th>
        <th width="15">学期时间</th>
        <th width="50%">开设课程</th>
        <th width="20%">操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let semester of semesterPage?.content">
        <td>{{semester.name}}</td>
        <td>{{semester.startTime | date:'yyyy/MM/dd'}}-{{semester.endTime | date:'yyyy/MM/dd'}}</td>
        <td>
          <span *ngFor="let course of semester.courseList"><nz-tag [nzColor]="'#108ee9'">{{course.name}}</nz-tag></span></td>
        <td>
          <button nz-button [nzType]="semester.currentSemester? 'primary':'default'"
                  (click)="setCurrentSemester(semester)">
            <i nz-icon nzType="poweroff" theme="outline"></i>
            {{semester.currentSemester ? '处于当前学期' : '设为当前学期'}}
          </button>
          <a nz-button nzGhost nzType="primary" routerLink="/admin/semester/edit/{{semester.id}}">
            <i nz-icon nzType="edit" nzTheme="twotone"></i>
            编辑
          </a>
          <!--<button nz-button nzGhost nzType="danger" (click)="deleteById(semester.id)">-->
            <!--<i nz-icon nzType="delete" nzTheme="twotone"></i>-->
            <!--删除-->
          <!--</button>-->
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>
