<!--上方搜索框-->
<div nz-row>
  <div nz-col [nzSpan]="4">
    <nz-input-group nzSearch>
      <input type="text" nz-input placeholder="学期名" [(ngModel)]="semesterName">
    </nz-input-group>
  </div>
  <div nz-col [nzSpan]="4" [nzOffset]="1">
    <button nz-button (click)="getSemesterPage()">
      <i nz-icon nzType="search" nzTheme="outline"></i>
      查询
    </button>
  </div>
  <div nz-col [nzSpan]="4" [nzOffset]="2">
    <a nz-button nzType="primary" routerLink="/admin/semester/add">
      <i nz-icon nzType="plus" nzTheme="outline"></i>新增</a>
  </div>
</div>
<!--分割线-->
<nz-divider></nz-divider>
<!--下方表格-->
<div nz-row>
  <div nz-col [nzSpan]="24">
    <nz-table
      [nzData]="semesterPage.content"
      nzBordered
      nzShowSizeChanger
      [nzLoading]="loading"
      [nzTotal]="semesterPage?.content.length"
      [nzPageSize]="pageable.size"
      [nzPageIndex]="pageable.page"
      (nzPageIndexChange)="getMajorPage()"
      (nzPageSizeChange)="getMajorPage()">
      <thead>
      <tr>
        <th width="5%">id</th>
        <th width="10">学期名称</th>
        <th width="60%">开设课程</th>
        <th width="25%">操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let semester of semesterPage?.content">
        <td>{{semester.id}}</td>
        <td>{{semester.name}}</td>
        <td>
          <span *ngFor="let course of semester.courseList"><nz-tag [nzColor]="'#108ee9'">{{course.name}}</nz-tag></span></td>
        <td>
          <button nz-button [nzType]="semester.currentSemester? 'primary':'default'"
                  (click)="setCurrentSemester(semester)">
            <i nz-icon nzType="poweroff" theme="outline"></i>
            {{semester.currentSemester ? '处于当前学期' : '设为当前学期'}}
          </button>
          <a nz-button nzGhost nzType="primary" routerLink="/admin/semester/edit/{{semester.id}}">
            <i nz-icon nzType="edit" nzTheme="twotone"></i>
            编辑
          </a>
          <button nz-button nzGhost nzType="danger" (click)="deleteById(semester.id)">
            <i nz-icon nzType="delete" nzTheme="twotone"></i>
            删除
          </button>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>
