<!--上方搜索框-->
<div nz-row>
  <div nz-col [nzSpan]="4">
    <label>专业: </label>
    <nz-select
      nzShowSearch
      [(ngModel)]="majorId">
      <nz-option nzLabel="所有专业" [nzValue]="0"></nz-option>
      <nz-option *ngFor="let major of majorList" nzLabel="{{major.name}}" nzValue="{{major.id}}"></nz-option>
    </nz-select>
  </div>
  <div nz-col [nzSpan]="2">
    <button nz-button (click)="getEducatePlanPage()">
      <i nz-icon nzType="search" nzTheme="outline"></i>
      查询
    </button>
  </div>
  <div nz-col [nzSpan]="2" [nzOffset]="16">
    <a nz-button nzType="primary" routerLink="/admin/educate-plan/add">
      <i nz-icon nzType="plus" nzTheme="outline"></i>新增</a>
  </div>
</div>
<!--分割线-->
<nz-divider></nz-divider>
<!--下方表格-->
<div nz-row>
  <div nz-col [nzSpan]="24">
    <nz-table
      [nzData]="educatePlanPage.content"
      nzBordered
      nzTitle="培养计划表"
      [nzFrontPagination]="false"
      [nzLoading]="loading"
      [nzTotal]="educatePlanPage.totalElements"
      [(nzPageSize)]="pageable.size"
      [(nzPageIndex)]="pageable.page"
      (nzPageIndexChange)="getEducatePlanPage()">
      <thead>
      <tr>
        <th width="15">所属专业</th>
        <th width="5">学年</th>
        <th width="70%">开设课程</th>
        <th width="10%">操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let educatePlan of educatePlanPage?.content">
        <td>{{educatePlan.major.name}}</td>
        <td>{{educatePlan.termNumber}}</td>
        <td>
          <span *ngFor="let course of educatePlan.courseList"><nz-tag [nzColor]="'#108ee9'">{{course.name}}</nz-tag></span></td>
        <td>
          <a nz-button nzGhost nzType="primary" routerLink="/admin/educate-plan/edit/{{educatePlan.id}}">
            <i nz-icon nzType="edit" nzTheme="twotone"></i>
            编辑
          </a>
          <!--<button nz-button nzGhost nzType="danger" (click)="deleteById(educatePlan.id)">-->
            <!--<i nz-icon nzType="delete" nzTheme="twotone"></i>-->
            <!--删除-->
          <!--</button>-->
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>
