<!--上方搜索框-->
<div nz-row>
  <div nz-col [nzSpan]="4">
    <nz-input-group nzSearch>
      <input type="text" nz-input placeholder="专业名" [(ngModel)]="majorName">
    </nz-input-group>
  </div>
  <div nz-col [nzSpan]="2">
    <button nz-button (click)="getMajorPage()">
      <i nz-icon nzType="search" nzTheme="outline"></i>
      查询
    </button>
  </div>
  <div nz-col [nzSpan]="2" [nzOffset]="16">
    <a nz-button nzType="primary" routerLink="/admin/major/add">
      <i nz-icon nzType="plus" nzTheme="outline"></i>新增</a>
  </div>
</div>
<!--分割线-->
<nz-divider></nz-divider>
<!--下方表格-->
<div nz-row>
  <div nz-col [nzSpan]="24">
    <nz-table
      nzBordered
      nzTitle="专业信息表"
      [nzFrontPagination]="false"
      [nzLoading]="loading"
      [nzData]="majorPage.content"
      [nzTotal]="majorPage.totalElements"
      [(nzPageIndex)]="pageable.page"
      [(nzPageSize)]="pageable.size"
      (nzPageIndexChange)="getMajorPage()">
      <thead>
      <tr>
        <th width="20">专业名称</th>
        <th width="70%">包含课程</th>
        <th width="10%">操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let major of majorPage?.content">
        <td>{{major.name}}</td>
        <td>
          <span *ngFor="let course of major.courseList"><nz-tag [nzColor]="'#108ee9'">{{course.name}}</nz-tag></span></td>
        <td>
          <a nz-button nzGhost nzType="primary" routerLink="/admin/major/edit/{{major.id}}">
            <i nz-icon nzType="edit" nzTheme="twotone"></i>
            编辑
          </a>
          <!--<button nz-button nzGhost nzType="danger" (click)="deleteById(major.id)">-->
            <!--<i nz-icon nzType="delete" nzTheme="twotone"></i>-->
            <!--删除-->
          <!--</button>-->
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>
